<h1>Result</h1>
<h2><%= @room.name %></h2>

<h3>writes:</h3>
<ul>
   <% @room.writes.each do |w| %>
      <li><a href="/writes/r/<%= w.hash_text %>?room=<%= @room.hash_text %>"><%= w.title %></a></li>
   <% end %>
</ul>

<p><a href="/home">ロビーへ</a></p>
