<p>Hi, <%= @user.name %>!</p>
<form action="/rooms/create" method="post">
  <% if @again %><p style="color:red">なんかできませんでした</p><% end %>
  <label for="form_name">
    名前:
    <input type="text" id="form_name" name="name">
    <br>
  </label>
  <label for="form_number">
    人数:
    <input type="number" id="form_number" name="number" value="4" min="2" max="10">
    <br>
  </label>
  <label for="show_prev_writer">
    <input type="checkbox" id="show_prev_writer" name="show_prev_writer">
    執筆順を表示する
    <br>
    </label>
  <input type="submit" value="ログイン">
</form>