<html>
<head>
<style>
.name-me {
  color: red;
}
</style>
<script type="text/javascript" src="/room_lobby.js"></script>
</head>

<body>
<h1 id="h1-title" data-hash="<%= @room.hash_text %>"><%= @room.name %></h1>

<h3>users:</h3>
<ul id="list-users">
</ul>


<p><a href="/rooms/0/<%= @room.hash_text %>/leave">Leave</a></p>

<% if @login_user.room_user.is_host then %>
<p><a href="/rooms/b/<%= @room.hash_text %>">Go!</a></p>
<% end %>
</body>