<form action="/signup" method="post">
  <label>ユーザー名:</label><input type="text" name="name"><br>
  <label>パスワード:</label><input type="password" name="password"><br>
  <input type="submit" value="作成">
</form>